# obsdaq.cfg
#
# constants for obsdaq when using
# obsdaq and palmacq by MINGEO, Hungary

# physical units for three components and three supplementary channels
UNIT_X  :  mV
UNIT_Y  :  mV
UNIT_Z  :  mV
UNIT_P  :  degC
UNIT_Q  :  degC
UNIT_R  :  -

#constants for fluxgate sensor SE.S013 and electronic box SE.E0379
# scale factors for given instruments (pT/V)
#SCALE_X = 312300
#SCALE_Y = 310300
#SCALE_Z = 318500
# mV temporary
#SCALE_X  :  1000000
#SCALE_Y  :  1000000
#SCALE_Z  :  1000000

SCALE_X  :  1000000000
SCALE_Y  :  1000000000
SCALE_Z  :  1000000000
SCALE_P  :  1
SCALE_Q  :  1
SCALE_R  :  1


# set 24-bit channel configuration
    # assuming crystal frequency is 9.8304MHz
    # command  $AAnWS0201ccdd 
    # cc ... Range mode (gain)
    #   02 ...  +/-10V
    #   03 ...  +/-5V
    #   04 ...  +/-2.5V
CC  :  02
    # dd ... Data output rate (here examples, see Table 6)
    #   03 .. 3.2 Hz
    #   13 .. 6.4 Hz
    #   23 .. 12.8 Hz
    #   33 .. 19.2 Hz
    #   43 .. 32.0 Hz
    #   53 .. 38.4 Hz
    #   63 .. 64 Hz
    #   72 .. 76.8 Hz
    #   82 .. 128 Hz
    #   92 .. 640 Hz
    #   A1 .. 1280 Hz
DD  :  23
#DD  :  63

# setting internal trigger timing
    # command $AAPPeeeeffff
    # eeee ... triggering interval
    # ffff ... low-level time
    # recommended by Mingeo (9.8304MHz quartz crystal, see Table 9)
    #   DD EEEE FFFF Samples/s FilterFrequency
    #   63 0BFF 026D 50Hz      64Hz 
    #   72 09FF 01FD 60Hz      76.8Hz 
    #   82 05FF 011D 100Hz     128Hz 
    #   92 04AF 038D 128Hz     640Hz 
    #   92 03FF 02DD 150Hz     640Hz 
    #   92 02FF 01DD 200Hz     640Hz 
EEEE  :  3C00
FFFF  :  0600
#EEEE  :  0BFF
#FFFF  :  026D

# check settings using
#   python obsdaq.py -d

# program offset calibration constants
    # command $AAnWOaaaaaa
OFFSETX  :  FFF19A
OFFSETY  :  FFF41B
OFFSETZ  :  FFF70C

# program full-scale calibration constants
    # command $AAnWFffffff
FULLSCALEX  :  3231C0
FULLSCALEY  :  32374B
FULLSCALEZ  :  323A7E

